# Visual Studio cache/options directory
**/.vs/

# Build results
**/[Oo]bj
**/[Oo]bj/*
**/[Bb]in
**/[Bb]in/*
**/[Dd]ebug
**/[Rr]elease

# Compiled source
**/*.exe
**/*.dll

# User-specific files
**/*.user

# NuGet Packages
# //docs.microsoft.com/en-us/nuget/consume-packages/packages-and-source-control
**/[Pp]ackages
**/[Pp]ackages/*
!**/[Pp]ackages/build/
**/MetroFramework.txt

# Junk Files (Windows)
**/[Dd]esktop.ini
**/[Tt]humbs.db

/.release

# Ruby
**/Gemfile.lock

# Bundler
**/.bundle/
**/vendor/
**/lib/bundler/man/

# Jekyll
**/_site*/
**/.sass-cache/
**/.jekyll-cache/
**/.jekyll-metadata
