/// COMMON

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Fjalla One';
  background-color: #0B0B15;
}

@media (max-width: 350px) {
  body { padding: 1rem; }
}

/// ERROR MESSAGE

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 4rem;
}

@media (max-width: 768px) {
  a { font-size: 3.5rem; }
}

@media (max-width: 576px) {
  a { font-size: 2.5rem; }
}

@media (max-width: 400px) {
  a { font-size: 2rem; }
}

@media (max-width: 350px) {
  a { font-size: 1rem; }
}
