<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SuperBLTHasher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SuperBLTHasher.My.MySettings>
            <setting name="WriteHashToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyHashToClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MustUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </SuperBLTHasher.My.MySettings>
    </userSettings>
</configuration>